# ~/.config/fish/config.fish

# Add directories to path
set -U fish_user_paths $fish_user_paths ~/bin ~/scripts /usr/local/bin

{{ if eq .chezmoi.os "darwin" }}
# Homebrew setup
if test (uname) = "Darwin"
  if test -f /opt/homebrew/bin/brew
    eval (/opt/homebrew/bin/brew shellenv)
  end
end
{{ end }}

# For Linux: Homebrew initialization
{{ if eq .chezmoi.os "linux" }}
# Homebrew setup
if test (uname) = "Linux"
  if test -f /home/linuxbrew/.linuxbrew/bin/brew
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
  end
end
{{ end }}

# Aliases
alias cat 'bat --paging=never'
alias less 'bat --paging=always'

# Zoxide (Better cd)
zoxide init fish | source

# Mise
mise activate fish | source

# Starship
starship init fish | source