# Ignore anything with the word todo in it (case sensitive)
*[Tt][Oo][Dd][Oo]*

# Editors
.vscode

# Mac
.DS_Store

# Nushell history
home/.config/nushell/history.txt

# ZSH
.zcompdump
.zsh_history
.zsh_sessions/

# Warp terminal
dots/.config/warp-terminal/user_preferences.json

# fish shell
.fish_history
fish_variables

# nushell
history.txt

# Podman Containers
containers/