# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
#
# {{- /* This file supports Go's text/template language. */}}
# =============================================================================

{{- /* Prompt for Git username */ -}}
{{- $gitUserName := promptString "❔ What is your Git username (full name)" -}}
{{- writeToStdout (printf "✅ Git username set as '%s'\n" $gitUserName) -}}

{{- /* Prompt for Git email */ -}}
{{- $gitUserEmail := promptString "❔ What is your Git email" | lower -}}
{{- writeToStdout (printf "✅ Git email set as '%s'\n" $gitUserEmail) -}}

[data]
    gitUserName = "{{ $gitUserName }}"
    gitUserEmail = "{{ $gitUserEmail }}"
