{{- define "packages_linux-arch.sh" -}}
#!/usr/bin/env bash

# Arch Linux packages – choose by machine type.
packages=()
mt=${MACHINETYPE:-server}
if [[ "$mt" == "server" ]]; then
  # Add packages for server workstation here
  packages=(
    # Shells
    fish
    zsh

    # Containers
    podman
    podman-docker

    # Fonts
    ttf-cascadia-code-nerd
    ttf-cascadia-mono-nerd

    # Wayland clipboard utilities
    wl-clipboard
  )
else
  # Add packages for workstation machine here
  packages=(
    # Shells
    fish
    zsh

    # Containers
    podman
    podman-docker

    # Fonts
    ttf-cascadia-code-nerd
    ttf-cascadia-mono-nerd

    # Wayland clipboard utilities
    wl-clipboard

    # Terminals
    ghostty

    # Browsers
    helium-browser-bin

    # Editors
    libreoffice-fresh
    obsidian
    zed
  )
fi
{{- end -}}
