#!/usr/bin/env bash

# Ubuntu/Debian packages; choose based on MACHINETYPE shell variable.
packages=()
mt=${MACHINETYPE:-server}
if [[ "$mt" == "server" ]]; then
  # Add packages for server workstation here
  packages=(git curl)
else
  # Add packages for workstation machine here
  packages=(git curl)
fi
{{- end -}}
