#!/usr/bin/env bash
set -euo pipefail

{{/* --- resolve template variables --- */}}
{{- $machineType := .machine_type | default "workstation" -}}

echo "🔧 Running common setup tasks after applying dotfiles..."

# ===================================
# Load environment
# ===================================
echo "🔧 Loading user environment..."

export PATH="$HOME/.local/bin:$HOME/.cargo/bin:$HOME/.mise/bin:$PATH"

[[ -f "$HOME/.profile" ]] && source "$HOME/.profile"
[[ -f "$HOME/.bash_profile" ]] && source "$HOME/.bash_profile"

hash -r

SCRIPTS_DIR="$(dirname "$CHEZMOI_SOURCE_DIR")/scripts"

# ===================================
# Switch Git Remote from HTTPS to SSH
# ===================================
git2ssh -C "$(dirname "$CHEZMOI_SOURCE_DIR")"

# ===================================
# Core setup
# ===================================
"$SCRIPTS_DIR/setup_directories.sh"

# Configure Podman storage driver based on filesystem type
"$SCRIPTS_DIR/setup_podman_storage.sh"

# Rebuild bat's cache to ensure custom themes are recognized from dotfiles
if command -v bat &> /dev/null; then
  echo "🔧 Rebuilding bat cache..."
  bat cache --build
else
  echo "⚠️  Bat is not installed. Skipping bat cache rebuild."
fi

# ===================================
# SSH Key Generation
# ===================================
# Setup SSH Keys
read -rp "❓ Do you want to setup SSH Keys? [y/N]: " response
case "$response" in
  [yY][eE][sS]|[yY])
    echo "🔑 Setting up SSH keys..."
    # Run the script to initialize SSH config
    $SCRIPTS_DIR/setup_ssh_config.sh

    # Run the script to generate SSH keys
    sshkeygen
    ;;
  *)
    echo "❌ Skipping SSH Key generation."
    ;;
esac

# ============================================
# Identify Machine Type
# ============================================
MACHINE_TYPE="{{ .machine_type }}"
echo "🖥 Running setup for machine type: $MACHINE_TYPE"

# ============================================
# Workstation-specific setup
# ============================================
{{ if eq .machine_type "workstation" }}
echo "Running workstation-specific scripts..."
"$SCRIPTS_DIR/setup_gnome_keyring.sh"
"$SCRIPTS_DIR/setup_flatpak.sh"
"$SCRIPTS_DIR/setup_google_chrome.sh"
"$SCRIPTS_DIR/setup_kanata-linux.sh"
{{ end }}

# ============================================
# Server-specific setup
# ============================================
{{ if eq .machine_type "server" }}
echo "Running server-specific scripts..."
# "$SCRIPTS_DIR/setup_fail2ban.sh"
# "$SCRIPTS_DIR/setup_firewall.sh"
{{ end }}

echo "✅ Setup complete"