#!/usr/bin/env bash

set -e  # Exit immediately on any error

echo "🔧 Running setup..."

# Initialize SSH Config
$CHEZMOI_SOURCE_DIR/scripts/initialize_ssh_config.sh

# Install Homebrew
$CHEZMOI_SOURCE_DIR/scripts/install_brew.sh

# Install Ansible
$CHEZMOI_SOURCE_DIR/scripts/install_ansible.sh

# TODO: Install packages using ansible
