#!/usr/bin/env bash

set -e  # Exit immediately on any error

echo "🔧 Running setup..."

# TODO: Setup SSH

# TODO: Create home directory files (refer to readme) sandbox, repos, etc.

# Install Homebrew
$CHEZMOI_SOURCE_DIR/scripts/install_brew.sh

# TODO: Install Ansible