[settings]
npm.package_manager = "bun"
# python.uv_venv_auto = "source"
# or, to create if missing
python.uv_venv_auto = "create|source"

[tools]
#---------------------------------
# Cross-platform Tools
#---------------------------------
# Languages & runtimes
bun = "latest"
go = "latest"
node = "latest"
pnpm = "latest"
python = "latest"
rust = "latest"

#---------------------------------
# OS-specific Tools
#---------------------------------

{{- if eq .chezmoi.os "darwin" }}
# macOS only tools
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Build tools
just = "latest"

# Python tools
ruff = "latest"
ty = "latest"
uv = "latest"

# Editor
neovim = "latest"
tree-sitter = "latest"

# Terminal & shell
atuin = "latest"
starship = "latest"
tmux = "latest"
zellij = "latest"
zoxide = "latest"

# File & search utilities
bat = "latest"
fd = "latest"
fzf = "latest"
jq = "latest"
eza = "latest"
ripgrep = "latest"

# Git & VCS
delta = "latest"
github-cli = "latest"
jj = "latest"
lazygit = "latest"
"github:max-sixty/worktrunk" = "latest"

# AI coding tools
codex = "latest"
crush = "latest"
gemini-cli = "latest"
"github:block/goose" = "latest"
"npm:@github/copilot" = "latest"
opencode = "latest"

# Containers
devcontainer-cli = "latest"
"aqua:loft-sh/devpod" = "0.6.15"
lazydocker = "latest"

# System & misc
btop = "latest"
"github:Slackadays/Clipboard" = "latest"
chezmoi = "latest"
direnv = "latest"
gum = "latest"
"aqua:topgrade-rs/topgrade" = "latest"
{{- end }}

#---------------------------------
# Machine Type
#---------------------------------
{{- if eq .machine_type "workstation" }}
# Add workstation specific packages here...
{{- end }}

{{- if eq .machine_type "server" }}
# Add server specific packages here...
{{- end }}
